# Exploriatory Data analysis for Link Lives data (V1.2) for Magnus' Masters Thesis (MMT)
The purpuse of this analysis is to:
- Get a felling for the shape and size of the different LL datasets
- Understand how the data is structured
- Try to calculate average age of marriage for women

## Load in the Data

In [1]:
# Packages
from pathlib import Path
import pandas as pd

#Future proofing of the way we use pandas
pd.options.mode.copy_on_write = True

# Paths to data
ll_data_dir = Path.cwd().parent / 'data' / 'link_lives'
ll_data_raw_dir = Path.cwd().parent / 'data' / 'link_lives_raw_data'
life_course_data = ll_data_dir / 'life-courses' / 'life_courses.csv'
link_data = ll_data_dir / 'links' / 'links.csv'
marital_status_data = ll_data_dir / 'SCs' / 'SC_marital_status_20210818.csv'
sex_status_data = ll_data_dir / 'SCs' / 'SC_sex_20210609.csv'

In [2]:
# Try to load in the life courses and understand the data
lc_df = pd.read_csv(life_course_data)
lc_df.shape

(3155319, 5)

In [3]:
links_df = pd.read_csv(link_data)

C:\Users\mlind\AppData\Local\Temp\ipykernel_24240\2639017560.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  links_df = pd.read_csv(link_data)

In [3]:
lc_df.head()

,life_course_id,pa_ids,source_ids,link_ids,n_sources
0,0,"1000000,1010580","4,5",2039770,2
1,1,"1000000,1189983","5,6",1027189,2
2,2,"1000000,1162554","6,7",455311,2
3,3,"1000001,1150676","2,3",2567539,2
4,4,"1000002,707136,731392","3,4,5","2360648,1882979",3

In [4]:
links_df.head()

,link_id,index,source_id1,source_id2,pa_id1,pa_id2,method_id,score,iteration,iteration_inner,duplicates
0,0,0,9,8,5751,287125,0,0.0,0.0,0.0,1
1,1,72,9,8,98026,281291,0,0.0,0.0,0.0,1
2,2,170,9,8,62864,167334,0,0.0,0.0,0.0,1
3,3,537,9,8,68292,261284,0,0.0,0.0,0.0,1
4,4,565,9,8,80852,173841,0,0.0,0.0,0.0,1

In [ ]:
# The links and life courses data is structered such that the .csv files point to the data which is in the _raw_data folder.
# The